:root{
    --main-bg: #F5F5FF;

    --font-gray:#8A8C8F;
    --border-gray:#D9DCDF;
    --box-gray:#F8F8F8;

    --gray-hover: #ECEEEF;
    --gray-focus: #D9DCDF;

    --purple-main:#4226A7;
    --purple-hover:#21066D;
    --purple-focus:#21066D;
    --purple-light:#E8E5FF;

    --sideMenu-focus:#9383CF;
    --sideMenu-hover:#6F5ABD;
}