/* src/components/Button.css */
.btn {
  cursor: pointer;
  padding-block: 0.5rem; padding-inline: 1rem;
  margin-left: 0.5rem;
  color: white;  background-color: black;  

  border:none; border-radius: 1rem;
  font-size: 1rem;
}.btn:hover {background-color: #4e4e4e;}



.tag{
  user-select: none;
  cursor: default;
  padding:0.3rem;
  margin:0.2rem;
  font-size: 0.7rem;
  border-radius: 5px;
  color:black;
  background-color: #C9C9C9;
} .tag:hover{background-color: #C9C9C9;}


/*LinkCard Hover Menus*/
.btn.linkcard{
  position:absolute;
  padding:5px;
  transition: opacity 0.3s ease;
  font-size: 0.7rem;
  background-color: white;
  color: black;
}
.btn.linkcard:hover{background-color: #b8b8b8;}

.btn.linkcard.delete{top:8px;right: 35px;}
.btn.linkcard.alarm{top:8px;right:8px;}
.btn.linkcard.link{bottom:8px;left:8px;margin-left:0px;}

/*BookmarkDetail edit button*/
.btn.detail-edit{bottom: 10px; right: 10px; position: absolute;}