.toggle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-case {
    position: relative;
    cursor: pointer;
    width: 3.2rem; height: 1.8rem;
    border-radius: 1rem;
    background-color: var(--border-gray);
    transition: background-color 0.3s ease;
  }
  
  .toggle-case.toggled {
    background-color: #4FF7BA;
  }
  
  .toggle-circle {
    position: absolute;
    top: 0.3rem;left: 0.3rem;
    width: 1.2rem;height: 1.2rem;
    background-color: white;
    border-radius: 50%;
    transition: left 0.3s ease;
  }
  
  .toggled .toggle-circle {
    left: 1.8rem;
  }
  