.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    z-index: 1000;
    padding:1.5rem; padding-top:2rem;
    background: TANS;
}
.logo{ cursor:pointer;}

.searchers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
}

.user_info { 
    display: flex;
    margin-right:3.5rem;
    align-items: center;
}



@media (max-width: 600px){
    
}

