.main-page {
    position: fixed;top:6.5rem;
    height: calc(100vh - 8rem);
    display: flex; flex-direction: column;
    margin-bottom: 2rem; margin-inline:2rem;
    padding:1.5rem; padding-right: 0.2rem;
   
    box-sizing: border-box;
    overflow-x: hidden; overflow-y: hidden;
    transition: transform 0.3s ease; /* 너비 조정 애니메이션 */
    background-color: white;
    border-radius: 20px;
  }
  /* === 헤더 === */
.header { position: fixed; top: 0; left: 0; }

.main-box { overflow-y:scroll; height:calc(100vh - 9rem); transition: transform 0.3s ease;}

/* === 사이드 메뉴  === */
.main-page.menu-open {
  width: calc(100% - 19rem); /* SideMenu 너비만큼 main-box 축소 */
  margin-left: 17.5rem;  /* SideMenu 너비만큼 margin-left 증가 */
}

/* === 북마크 상세 정보 === */
.main-page.show-detail {
  width: calc(100% - 35rem); /* main-box 축소 */
}

/* 사이드 메뉴와 북마크 상세 정보가 동시에 열릴 때 */
.main-page.menu-open.show-detail {
  width: calc(100% - 19rem - 31rem);
}

.link-set { margin-top: 2rem; }
._text {display: flex; align-items: center;}
.more{ color:black; font-size: 0.8rem; margin-left: 1rem;}
.sorting-options {
  display: flex;
  justify-content: flex-end;
}

