

.userpage {
    position: relative;
    transition: transform 0.3s ease; /* 너비 조정 애니메이션 */
    margin-top: 5rem;
    padding-inline: 1rem;
    box-sizing: border-box;
    width: 100%;  /* 기본적으로 100% */
    display: flex;
    flex-direction: column; /* 레이아웃 조정 */
    overflow-x: hidden;
  }
  
  /* 사이드 메뉴가 열릴 때 */
  .userpage.menu-open {
    width: calc(100% - 250px); /* 사이드 메뉴의 너비만큼 화면이 줄어듬 */
    margin-left: 250px;  /* 사이드 메뉴의 너비만큼 왼쪽 여백을 추가 */
  }

  /* 헤더는 고정 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001; /* 사이드 메뉴보다 위에 표시되도록 설정 */
  }