.userpage {
    position: relative;
    display: flex;
    flex-direction: column; /* 레이아웃 조정 */
    width: calc(100%-2rem);  /* 기본적으로 100% */
    margin-top: 6rem;
    margin-bottom: 1rem;
    margin-inline:1rem;
    padding: 1rem;
   
    box-sizing: border-box;
    overflow-x: hidden;
    transition: transform 0.3s ease; /* 너비 조정 애니메이션 */
    background-color: #F1F1F1;
    border-radius: 20px;
  }

  
  /* 헤더는 고정 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* 사이드 메뉴가 열릴 때 */
.userpage.menu-open {
  width: calc(100% - 16.5rem); /* 사이드 메뉴의 너비만큼 화면이 줄어듬 */
  margin-left: 15.5rem;  /* 사이드 메뉴의 너비만큼 왼쪽 여백을 추가 */
}

.link-set { margin-top: 2rem; }
._text {display: flex; align-items: center;}
.more{ color:black; font-size: 0.8rem; margin-left: 1rem;}