.dropdown{
    appearance: none;   /*드롭다운 기본 화살표 숨김*/
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='5' viewBox='0 0 10 5'><polygon points='0,0 5,5 10,0' fill='%23007bff'/></svg>"); /* 화살표 이미지 */
    background-repeat: no-repeat; /*화살표 아이콘 반복 방지*/
    background-position: right 10px center; /*화살표 위치*/
    width: 5rem;
    padding: 0.5rem;
    padding-right:1.3rem; /*화살표 이미지 크기 고려*/
    margin-left: 0.5rem;
    border:none;
    border-radius: 1rem;

    background-color: #ededed;
    cursor: pointer;
    font-size: 1rem;
}


.dropdown.alarm { background-image: none; width:3rem; padding-right:0px;}


.dropdown.linkcard.folder-name {
    position:absolute;
    background-image: none;
    top:8px; left:8px;
    width: 1.2rem; min-width:2rem; height: 1.5rem;
    padding:5px;
    margin-left: 0px;
    font-size: 0.7rem;
    color: black; background-color: white;
    transition: opacity 0.3s ease;
}
.dropdown.linkcard:hover{background-color: #b8b8b8;}

.dropdown.sorting {
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: #C9C9C9;
}
